/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
input:-webkit-autofill {
  -webkit-text-fill-color: currentColor !important;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:focus {
  background-color: transparent !important;
}
